*{
	margin:0;
	padding:0;
	font-family: 'Montserrat', sans-serif;
	box-sizing:border-box;
}

body{
	display:flex;
	justify-content:center;
	align-items:center;
	height:100vh;
	overflow:hidden;
}

/*.predictFeature{
	margin: auto;
	width: 10%;
}*/

#wrapper{
	position:relative;
	width:350px;
	transform:scale(1);
	opacity:1;
	transform-origin:center -80%;
}


.loading-bar{ /* this is the back(ground) of the bar */
	width:10em;
	height:30px;
	background:#dfe6e9bb; /* can set to transparent for some real funky stuff */
	transform: rotate(270deg);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

.progress-bar{ /* this manages the actual value of the bar */
	width:0%;
	height:100%;
	background:#a29bfe;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
}

  /*@keyframes progress{
    100%{
      width:100%;
    }
  }
*/
